@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body{
  /*background: url('../images/background.jpeg');*/
  background-color: #efefef;
  background-size: cover;
  align-items: center;
  align-content: center;
}

.containerRegistration{
  width: 100%;
  max-width: 900px;
  background: rgba(0, 0, 0, 0.5);
  padding: 28px;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.form-title{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  border-bottom: sold 1px white;
}

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
  border: 2px solid transparent;
}
.user-input-box:hover{
  border: 2px solid white;
  border-radius: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.user-input-box label, .manual-label{
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.form-submit-btn{
  margin-top: 40px;
}

.form-submit-btn input{
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: white;
}

.form-submit-btn input:hover{
  background-color: #efefef;
}

@media(max-width: 800px){
  .container{
    min-width: 280px;
  }

  .user-input-box{
    margin-bottom: 12px;
    width: 100%;
  }

  .user-input-box:nth-child(2n){
    justify-content: space-between;
  }

  .main-user-info{
    max-height: 380px;
    overflow: auto;
  }

  .main-user-info::-webkit-scrollbar{
    width: 0;
  }

}

.container{
  max-width: 900px;
  margin: 10px auto 10px auto;
  align-items: center;
}

.scroll_content {
  padding: 16px;
  padding-left: 50px;
  margin: 0 auto;
  display: block;
  align-items: center;
}

.top_navbar {
  position: sticky;
  top: 20px;
  background-color: #151717;
  z-index: 1;
}

.banner_text_navbar {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-style: lighter;
  margin-right: 16px;
  text-align: center;
  color: white !important;
}

.banner {
  background: #151717;
  height: 100px;
  position: relative;
}

.banner_content {
  padding: 16px;
  padding-left: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner_text {
  font-size: 48px;
  font-family: 'Quicksand', sans-serif;
  font-style: lighter;
  color: white;
}

.banner_text_top {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-style: lighter;
  color: black;
  margin-right: 16px;
  text-align: center;
}

.banner_text_bottom {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-style: lighter;
  color: white;
  position: absolute;
  bottom: 12px;
  right: 16px;
}

.logo{
  position: absolute;
  top: 12px;
  right: 16px;
}

.card {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;
}
h1 {
  margin-bottom: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
  font-size: 20px;
}

.price {
  font-size: 18px;
  color: #999;
  margin-top: 5px;
}

#top {
    display: flex;
    justify-content: center;
}
