Slides 7-8:

✔️ Includes Customer, Products, and Cart page that the user can navigate

✔️ Allows users to filter foods by Vegetarian, Gluten Free

✔️ Font size increased

✔️ Pictures added to all listed products


Slides 9-10 (Requirements):

✔️ Grocery Store Name

✔️ 10/10 products in product list

✔️ Navigation between 3 zones:


	Customer Page:
	
		✔️ User can select vegetarian or gluten free, NOT BOTH

		✔️ USER CAN INDICATE ORGANIC / NON-ORGANIC


	Product Page:

		✔️ "ITEMS SHOULD BE PRICED (TO ADD TO THE CODE PROVIDED)"

		✔️ Items are sorted by price, SHOULD BE "[ADDED] TO THE CODE PROVIDED"

	
	Customer Page:

		✔️ Displays contents of the cart and the total

		✔️ Signature at bottom of the page

		✔️ use of external CSS
	
		⚠️ use of JavaScript (incomplete)
