/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #fcfcfc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  height: 60px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f2f2f2;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #efefef;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #efefef;
  border-top: none;
  font-family: 'Quicksand', sans-serif;
}

html{
  background-color: #fcfcfc;
}

body{
  align-content: center;
}

img{
  display: block;
  margin: 0 auto;
  align: center;
}

#signature {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: #094370;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
}

.h1{
  font-size: 48px;
  font-family: 'Georgia';
  font-style: italic;
  font-weight: bold;
  color: #0f7009;
}

/* 
  closeable banner;
  code adapted from @dcode-software 
  https://www.youtube.com/watch?v=x-LVUk2IxDU -ms
*/

.banner {
  background: #094370;
}

.banner_content {
  padding: 16px;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner_text {
  flex-grow: 1;
  line-height: 1.4;
  font-family: 'Quicksand', sans-serif;
  font-style: lighter;
}

.banner_close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner_text,
.banner_close > span {
  color: white;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}